aside {
  padding: 30px;
}

.avatar {
  width: 150px;
  /* top: 15%; */
  padding: 10px;
}

.user-details {
  padding: 10px;
  margin: 20px 0px;
  border-bottom: 1px dotted #dddddd;
}

@media screen and (max-width: 600px) {
  .img_avatar {
    width: 50px;
  }
  .small-view {
    display: inline;
  }
}
